<div class="news">
  <style>
body {
  font-family: 'Roboto', serif;
}
</style>

    <font  size="+0">
  <h1><strong>About</strong> me</h1>

  <p><strong>Applying state-of-the-art research in production.</strong></p>
  <ul style="list-style: disc;">



  <li>My experience has been in translating state-of-the-art models into practical, high-performance solutions, navigating the challenges of transitioning from research papers to production models. This has given me the ability to quickly grasp complex papers from top machine learning conferences and efficiently implement them in real-world environments.</li>
</ul>

 <br>




</ul>


 <p><strong>Building Neural Networks</strong></p>
   <ul style="list-style: disc;">
  <li>Artificial neural networks are digital, allowing all copies of a model to share weights across diverse physical devices and communicate learned information via different parts of the data by sharing gradients updates. This property enables <a href="https://openai.com/research/techniques-for-training-large-neural-networks">large neural networks to leverage parallelism</a>, processing vast amounts of data and acquiring knowledge at a scale unattainable by humans. This is exemplified by LLMs ability to process almost all the content on the internet, or by AlphaGo's mastery of Go through extensive gameplay beyond what any human could achieve in a lifetime. These capabilities make the ability to leverage large amounts of compute and data crucial skills for producing systems with superhuman abilities.</li>
  <br>

  <br>
<li>Yet, the most effective way to improve a model's performance on a given task is by developing an intuition about how the model interacts with the data. There are unique subtleties in the training dynamics that can only be learned through consistent training and evaluation. For example, <a href="https://arxiv.org/abs/2304.03843">LLMs learn reasoning only if the dataset exhibits certain properties</a>, regardless of the architecture, and they <a href="https://arxiv.org/abs/2405.17399">struggle with arithmetic without proper embeddings</a>. Large neural networks like GPT-4 <a href="https://arxiv.org/abs/2405.15071">get outperformed on some reasoning tasks by much smaller models but with smarter training schemes</a>. Understanding these nuances is crucial to get a model to perform the task you want it to.</li>
  <br>
</ul>

</ul>



 





</ul>


<p><strong>About a theory of intelligence and cognition.</strong></p>

<ul style="list-style: disc;">


    
  <li><a href="https://en.wikipedia.org/wiki/Free_energy_principle">The free energy principle </a> is currently the most convincing theory of cognition, it is very powerful in that it doesn't only try to explain what cognition is, it explains the mathematical rules that any agent doted with cognition should follow. The brain can be viewed as a particular solution nature found to implement approximate bayesian inference in biological organisms and AI research can be viewed as finding the best ways to implement it into machines with computational restraints which what Solomonoff's <a href="https://raysolomonoff.com/publications/alp-theory-and-applications.pdf">algorithmic probability theory</a> is about. </li>

  <br>


  <li>A lot of complex mental phenomena previously thought to be mysterious make a lot more sense under this paradigm, such as <a href="https://arxiv.org/abs/2009.01791">perception and action</a>, <a href="https://grazianolab.princeton.edu/sites/g/files/toruqf3411/files/graziano/files/jcs_graziano_2016.pdf">consciousness</a>, its <a href="https://arxiv.org/pdf/2302.06403.pdf">ineffability</a>, <a href="https://openreview.net/pdf?id=BZ5a1r-kVsf">emotions</a>, and <a href="https://arxiv.org/pdf/2008.07408.pdf">selfhood</a>, or mental disorders such as <a href="https://www.nature.com/articles/nrn2536">schizophrenia</a>, <a href="https://www.quentinhuys.com/pub/HuysEa14-VulnerabilityAddictionDopamine.pdf">addiction</a>, and maybe even <a href="https://www.deepmind.com/blog/dopamine-and-temporal-difference-learning-a-fruitful-relationship-between-neuroscience-and-ai">depression</a>. </li>
  <br>





</ul>


      </table>
    </div>
    
    </font>
</div>
